root = true
# Don't set line endings to avoid conflict with core.autocrlf flag.
# Line endings on checkout/checkin are controlled by .gitattributes file.
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4 
insert_final_newline = true
[*.fbs]
indent_size = 2
[*.sspj]
indent_style = tab
[*.ss-playersettings]
indent_style = tab
[{package.json,.travis.yml,appveyor.yml}]
indent_style = space
indent_size = 2
