# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# macos
.DS_Store

# Viusal C
*.vcproj
*.ncb
*.sln
*.suo
*.vcproj.*
AntTweakBar.dll

AntTweakBar/
AntTweakBar_116.zip
glew-2.1.0-win32.zip
glew-2.1.0/
glfw-3.2.1.bin.WIN32.zip
glfw-3.2.1.bin.WIN32/
glfw-3.2.1.bin.WIN64.zip
glfw-3.2.1.bin.WIN64/

*.ssbp
*.ssfb
*.json

.idea
cmake-build-debug/

CMakeCache.txt
CMakeFiles
CMakeScripts
Debug
project.pbxproj
sssdk.xcodeproj
*.swp
*.vcxproj
*.filters
*.user
*.opensdf
*.sdf
*.ipch
AntTweakBar64.dll
glew32mx.dll
Release/
*.log
Build/*.dll
Build/*.lib
Build/*.exe
Build/.vs/
Build/RelWithDebInfo/
Build/Ss6Converter.dir/
Build/Viewer2/Builds/VisualStudio2017/.vs/

# Viewer2
Build/Viewer2/JUCE
Build/Viewer2/FRUT
Build/Viewer2/CMakeLists.txt
Build/Viewer2/cmakeBuild

Tools/*
.vscode/
Build/Viewer2/Builds/
Build/Viewer2/JuceLibraryCode/

Build/Converter/build/
Build/Viewer/build/
