[submodule "Build/Converter/flatbuffers"]
	path = Build/Converter/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "Build/Converter/glfw"]
	path = Build/Converter/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Build/Converter/filesystem"]
	path = Build/Converter/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "Build/Converter/json"]
	path = Build/Converter/json
	url = https://github.com/nlohmann/json.git
[submodule "Build/vcpkg"]
	path = Build/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "Build/Converter/plog"]
	path = Build/Converter/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "Build/Viewer2/JUCE"]
	path = Build/Viewer2/JUCE
	url = https://github.com/juce-framework/JUCE.git
